/* list1 start*/
.a_img img {
  max-width: 100%;
}
.list1 {
  padding: .33%;
  background: #fff;
}
.list1 ul {
  display: flex;
}
.list1 li {
  flex: 1;
  height: 420px;
}
.list1 .list-bg {
  margin: 0 3px;
  height: 100%;
  background: no-repeat center;
}
.list1 li a {
  height: 420px;
  width: 420px;
  padding: 30px;
}
.txt {
  text-align: center;
}
.txt h4 {
  font-size: 24px;
  color: #333;
  line-height: 44px;
}
.txt p {
  font-size: 20px;
  line-height: 40px;
}
/*list1 end*/
/* list2 start*/
.list2 {
  width: 100%;
  height: 950px;
  background: no-repeat center;
  padding-top: 75px;
  margin-top: -33px;
}
.list2 .layout {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  clear: both;
}
.word {
  max-width: 840px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.word h3 {
  font-size: 40px;
  font-weight: 200;
  line-height: 60px;
}
.word .line {
  width: 100px;
  height: 3px;
  background-color: #e50012;
  margin: 30px auto;
}
.word p {
  font-size: 20px;
  line-height: 40px;
}
.word a {
  display: block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  border: 2px solid #fff;
  border-radius: 60px;
  margin: 0 auto;
  margin-top: 50px;
}
.word a span {
  height: 60px;
  width: 200px;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  padding-right: 50px;
  background: url(../images/list2/right.png);
  background: no-repeat right;
}
/*list2 end*/
/*list3 start*/
.list3 {
  background-color: #fff;
  padding: 50px 0 60px;
}
.list3 .title {
  width: 100%;
  padding: 0 10px;
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
  clear: both;
}
.list3 .title h5 {
  font-size: 18px;
  color: #d5d5d5;
  line-height: 38px;
  text-transform: uppercase;
}
.list3 .title h4 {
  font-size: 45px;
  color: #000;
  line-height: 65px;
}
.title-details {
  margin-top: 40px;
}
.title-details ul {
  display: flex;
}
.title-details li {
  width: 33.5%;
  margin: 0 10px;
}
.title-details li a {
  display: inline-block;
}
.details-img {
  height: 200px;
  padding: 10px;
  background-color: #fff;
}
.details-img img {
  height: 100%;
  margin: 0 30px;
}
.details-word {
  padding: 20px 30px 40px;
}
.details-word h5 {
  margin-bottom: 10px;
  font-size: 100%;
  font-weight: 200;
}
.details-word h5 span:first-child {
  padding-right: 12px;
  margin-right: 12px;
}
.details-word h5 span {
  font-size: 12px;
  color: #999;
  line-height: 34px;
  vertical-align: middle;
}
.details-word h4 {
  font-size: 18px;
  color: #333;
  line-height: 38px;
  height: 76px;
  overflow: hidden;
}
.more {
  display: block;
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border: 1px solid red;
  border-radius: 60px;
  margin: 0 auto;
  margin-top: 50px;
}
.more span {
  font-size: 18px;
  color: #ec676d;
  padding-right: 50px;
  text-transform: uppercase;
  background: url(../images/list2/right.png);
  background: no-repeat right;
}
/*sign in start*/
.sign {
  font-size: 36px;
  color: #333;
  line-height: 80px;
  margin-left: 40px;
}
.g-register {
  position: absolute;
  right: 0;
  font-size: 18px;
  color: #333;
  line-height: 38px;
  line-height: 80px;
  margin-right: 10px;
}
.g-register a {
  color: #e50012;
}
.g-register-bg {
  background-image: url('../images/background/register.jpg');
  height: 760px;
  background-position: center center;
}
.l-regsiter {
  height: 100%;
  padding: 0 10px;
}
.l-regsiter .l-regsiter-layout {
  height: 100%;
  width: 100%;
  position: relative;
}
.l-regsiter .l-regsiter-layout .l-login {
  position: absolute;
  width: 420px;
  background-color: #fff;
  top: 15%;
  right: 0;
  padding: 20px 0 50px;
}
.l-from {
  padding: 0 12%;
}
.l-from .input-group {
  padding-top: 30px;
  border-bottom: 2px solid #ddd;
}
.l-from .input-group .input-text {
  width: 100px;
  height: 48px;
  font-size: 14px;
  color: #333;
  border: none;
  background: none;
}
.l-from .input-group .intput-text2 {
  float: left;
}
.l-from .input-group .input-yzm {
  max-width: 100%;
  float: right;
}
.l-from .login-button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  color: #FFF;
  background-color: #e50012;
}
.l-from .login-other {
  text-align: center;
  font-size: 14px;
  color: #999;
  line-height: 34px;
  padding: 27px 0;
}
.l-login-lists {
  font-size: 14px;
  line-height: 34px;
  padding: 25px 0;
  color: #555;
}
.l-login-lists span {
  padding-left: 30px;
}
.l-login-lists a {
  float: right;
}
