//尺寸规范
@lh: 420px;
@lw: 420px;
.a_img {

    img{
        max-width: 100%;
    }
    
}

.list1 {
    padding: .33%;
    background: #fff;

    ul {
        display: flex;
    }
    
    li {
        flex: 1;
        height: 420px;  
    }
    
    .list-bg {
        margin: 0 3px;
        height: 100%;
        // width: @lw;
        background: no-repeat center; //背景图不重复，居中显示，设置背景图要给高度宽度
    }

    li a {

        height: @lh;
        width: @lw;
        padding: 30px;
    }
}
.txt {
    text-align: center;


    h4 {
        font-size: 24px;
        color: #333;
        line-height: 44px;
    }
    p {
        font-size: 20px;
        line-height: 40px; 
    }
}