.a_img img {
  max-width: 100%;
}
.list1 {
  padding: .33%;
  background: #fff;
}
.list1 ul {
  display: flex;
}
.list1 li {
  flex: 1;
  height: 420px;
}
.list1 .list-bg {
  margin: 0 3px;
  height: 100%;
  background: no-repeat center;
}
.list1 li a {
  height: 420px;
  width: 420px;
  padding: 30px;
}
.txt {
  text-align: center;
}
.txt h4 {
  font-size: 24px;
  color: #333;
  line-height: 44px;
}
.txt p {
  font-size: 20px;
  line-height: 40px;
}
