/*颜色规范*/
@fa:#000;
/*字体规范*/
@fsize-14:14px;
/*元素类型*/
@ib:inline-block;
/*间距*/
@width：54px：


a {
    color: @fa;
}

/*hearder start*/
.header {
    
    height: 80px;
    line-height: 80px;
    padding: 0 40px;

    .nav-header {

        .nav-bar{
            display: flex;
            
            .nav-menu {
                flex: 1;
                margin: 0 100px 0 60px;

                ul li {
                    display: @ib;
                    width: 102px;
                    text-align:center;

                }
                ul li a {
                    color: #000;
                }
            }
        }
    }
}
.logo {
                
    img {
        vertical-align: middle;
    }
}
.icon {
    .search {
        display: @ib;
        width: 45px;
        height: 80px;
        text-align: center;
    }

    a {
        width: 35px;
        color: #000;
        text-align: center;
        display: inline-block;
    }

    .language {
        display: @ib;
        width: 45px;
        text-align: center;
    }
}


