@flx: flex;

//颜色规范：
@tc: #fff;
body {
    background-color: #f6f6f6;
}

/*layout start*/
.l-main {
    display: @flx;
    min-height: 100vh;
    flex-direction: column;    
}
header {
    height: 80px;
    line-height: 80px;
    padding: 0 3%;
    background-color: @tc;
}

main {
    flex: 1;
}
/*layout end*/
/*hearder start*/

.nav-header {
    height: 100%;
    .nav-bar{
        display: flex;
        
        .nav-menu {
            flex: 1;
            margin: 0 100px 0 60px;
        }
    }
}
.g-nav-flx {
    display: @flx;
    text-align:center;

    li {
        width: 102px;

            a {
                color: #000;
            }
    }
    
    
}
.logo {
                
    img {
        vertical-align: middle;
    }
}
.icon {
    display: @flx;

    .search {        
        width: 54px;
        height: 80px;
        text-align: center;
    }

    span {
        color: #ddd;
    }
    
    a {
        width: 54px;
        color: #000;
        text-align: center;
        display: inline-block;
    }

    .language {
        width: 54px;
        text-align: center;
    }
}
/*header end*/
/*footer start*/
footer {
    background: @tc;
    .footertop {
        padding: 48px 0 65px 0;

        .layout {
            padding: 0 3%;
            display: flex;

            dl {
                width: 25%;
                float: left;
                margin-bottom: 20px;
                line-height: 40px;
            }
        }
    }

    .footer-bottom{
        bottom: 0;
        font-size: 12px;
        color: #999;
        height: 60px;
        background-color: #202020;

        .record {
            padding:0 30px;
            line-height: 60px;
            display: flex;

            .copyright {
                flex: 1;
            }
            .link {

                a {
                    color: #999;
                }
            }
        }

        
    }
}
.weblink {
    width: 800px;

}
.service {
    flex: 1;
    
    .line {
        text-align: right;
    
        .tip {
            font-size: 14px;
            color: #555555;
            line-height: 34px;
        }
    
        .call {
            padding-left: 40px;
            background-position: left center;
            background-repeat: no-repeat;
            line-height: 40px;
            font-size: 36px;
            background-size: auto 70%;
            color: #e50012;
            font-weight: bold;
        }
    
        .ser {
            display: inline-block;
            margin-top: 19px;
            font-size: 16px;
            background-color: #e50012;
            // background-image: url(../images/footer/cact.png);
            background-position: 32px center;
            background-repeat: no-repeat;
            border-radius: 50px;
            padding: 0 34px 0 64px;
            color: #ffffff;
            line-height: 50px;
            background-size: auto 39%;
        }
    }
}
dt {
    font-size: 20px;
    a {
        color: #000;
    } 
}
dd {
    font-size: 13px;
    a {
        color: #000
    }
}

/*footer end*/

/*aicallv9 start*/
.g-menu {
    display: @flx;
    background: @tc;

    .g-sidebar {
        flex: 1;
        background: fuchsia;
        margin: 0 10px;
    }
}
.g-tips {
    margin: 10px auto;
    background: #ddd;

    span {
        width: 15%;
        background: gold;
    }

    input {

    }
}
.g-flx {
    display: @flx;

    .g-tab {
        width: 50%;
    }
}

.g-submenu {

    .submenu-content {
        display: inline-block;
    }
}

.g-list {
    padding: 40px 10px 80px;

}

.list-content {

    p {

        a {

        }
    }
}
/*aicallv9 end*/