body {
  background-color: #f6f6f6;
}
/*layout start*/
.l-main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header {
  height: 80px;
  line-height: 80px;
  padding: 0 3%;
  background-color: #fff;
}
main {
  flex: 1;
}
/*layout end*/
/*hearder start*/
.nav-header {
  height: 100%;
}
.nav-header .nav-bar {
  display: flex;
}
.nav-header .nav-bar .nav-menu {
  flex: 1;
  margin: 0 100px 0 60px;
}
.g-nav-flx {
  display: flex;
  text-align: center;
}
.g-nav-flx li {
  width: 102px;
}
.g-nav-flx li a {
  color: #000;
}
.g-nav-flx li a:hover {
  color: #D90514;
}
.logo img {
  vertical-align: middle;
}
.icon {
  display: flex;
}
.icon .search {
  width: 54px;
  height: 80px;
  text-align: center;
}
.icon span {
  color: #ddd;
}
.icon a {
  width: 54px;
  color: #000;
  text-align: center;
  display: inline-block;
}
.icon .language {
  width: 54px;
  text-align: center;
}
/*header end*/
/*footer start*/
footer {
  background: #fff;
}
footer .footertop {
  padding: 48px 0 65px 0;
}
footer .footertop .layout {
  padding: 0 3%;
  display: flex;
}
footer .footertop .layout dl {
  width: 25%;
  float: left;
  margin-bottom: 20px;
  line-height: 40px;
}
footer .footer-bottom {
  bottom: 0;
  font-size: 12px;
  color: #999;
  height: 60px;
  background-color: #202020;
}
footer .footer-bottom .record {
  padding: 0 30px;
  line-height: 60px;
  display: flex;
}
footer .footer-bottom .record .copyright {
  flex: 1;
}
footer .footer-bottom .record .link a {
  color: #999;
}
.weblink {
  width: 800px;
}
.service {
  flex: 1;
}
.service .line {
  text-align: right;
}
.service .line .tip {
  font-size: 14px;
  color: #555555;
  line-height: 34px;
}
.service .line .call {
  padding-left: 40px;
  background-position: left center;
  background-repeat: no-repeat;
  line-height: 40px;
  font-size: 36px;
  background-size: auto 70%;
  color: #D90514;
  font-weight: bold;
}
.service .line .ser {
  display: inline-block;
  margin-top: 19px;
  font-size: 16px;
  background-color: #D90514;
  background-position: 32px center;
  background-repeat: no-repeat;
  border-radius: 50px;
  padding: 0 34px 0 64px;
  color: #ffffff;
  line-height: 50px;
  background-size: auto 39%;
}
dt {
  font-size: 20px;
}
dt a {
  color: #000;
}
dd {
  font-size: 13px;
}
dd a {
  color: #000;
}
/*footer end*/
/*onClick start*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
#myBtn:hover {
  background-color: #555;
}
/*onClick end*/
/*aicallv9 start*/
.g-menu {
  display: flex;
  padding: 70px 0 76px;
  background: #FFFFFF;
  background: #fff;
}
.g-menu .g-sidebar {
  flex: 1;
  margin: 0 10px;
}
.g-menu .g-sidebar .g-title {
  font-size: 46px;
  color: #333;
  line-height: 90px;
}
.g-menu .g-sidebar .g-msg {
  font-size: 18px;
  color: #777;
  height: 30px;
  padding: 5px 18px 18px 0;
}
.sidebar-pic {
  width: 608px;
}
.g-tips {
  padding-top: 20px;
}
.g-tips span {
  float: left;
  display: inline-block;
  width: 15%;
  line-height: 30px;
  font-size: 14px;
  color: #777777;
}
.g-tips .p4 {
  display: inline-block;
  width: 26%;
  font-size: 14px;
  color: #D90514;
  line-height: 28px;
  text-align: center;
  border: 1px solid #D90514;
  border-radius: 28px;
}
.g-tips .tips-input {
  height: 30px;
  line-height: 30px;
}
.g-tips .tips-input .min {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #999;
  border: none;
  background: none;
}
.g-tips .tips-input .num {
  width: 60px;
  height: 30px;
  font-size: 14px;
  color: #333;
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 30px;
  margin: 0 10px;
}
.g-tips .tips-input .max {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #999;
  border: none;
  background: none;
  color: #D90514;
}
.g-tips ul {
  display: flex;
}
.g-tips ul li {
  width: 30%;
  height: 58px;
  line-height: 58px;
  font-size: 18px;
  color: #333;
  text-align: center;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-right: 4%;
}
.g-tips .shop-add {
  width: 30%;
  height: 60px;
  font-size: 20px;
  color: #333;
  border: none;
  background: #f6f6f6;
  border-radius: 5px;
  margin-right: 4%;
}
.g-tips .shop-buy {
  width: 30%;
  height: 60px;
  font-size: 20px;
  color: #333;
  border: none;
  background: #f6f6f6;
  border-radius: 5px;
  margin-right: 4%;
  color: #fff;
  background: #D90514;
}
.g-flx {
  display: flex;
}
.g-flx .g-tab {
  width: 50%;
}
.g-flx .g-tab .tab-p1 {
  font-size: 14px;
  color: #777;
  line-height: 34px;
}
.g-flx .g-tab .tab-p2 {
  font-size: 36px;
  color: #D90514;
  line-height: 50px;
}
.g-flx .g-tab .tab-p3 {
  text-decoration: line-through;
  font-size: 18px;
  color: #999;
  line-height: 50px;
}
.g-submenu {
  height: 80px;
  line-height: 80px;
  border-top: 1px solid #EEEEEE;
  padding: 0 10px;
  background: #fff;
}
.g-submenu .submenu-content {
  display: inline-block;
  font-size: 16px;
  color: #333;
  margin-right: 3%;
  border-bottom: 2px #FFFFFF solid;
}
.g-list {
  padding: 40px 10px 80px;
}
.list-content {
  padding-bottom: 40px;
}
.list-content p {
  height: 25px;
  font-size: 14px;
  line-height: 25px;
  color: #888888;
}
.list-content p a {
  color: #0000ee;
}
/*aicallv9 end*/
/*new1 start*/
.g-banner img {
  max-width: 100%;
}
.i-wrapper {
  background: #fff;
}
.i-wrapper .i-layout {
  display: flex;
  padding: 20px 10px;
  margin: 0 auto;
}
.i-wrapper .i-layout .i-subnav1 {
  width: 70%;
  margin: 0 auto;
}
.i-wrapper .i-layout .i-subnav2 {
  flex: 1;
  text-align: right;
}
.i-wrapper .i-layout .i-subnav2 .subnav2-bg {
  background: url('../images/information/icon1.png');
  background-repeat: no-repeat;
}
.i-wrapper .i-layout .i-subnav2 .bg-tips {
  padding-left: 20px;
}
.i-wrapper .i-layout .i-subnav2 a {
  font-size: 14px;
  color: #999;
  line-height: 60px;
}
.i-fix1 li {
  display: inline-block;
}
.i-fix1 li a {
  display: block;
  width: 120px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.i-fix1 li a:hover {
  width: 120;
  height: 80px;
  color: #fff;
  background: #D90514;
}
.main-content {
  padding: 40px 0;
}
.main-content .g-wrap {
  padding: 0 10px;
}
.main-content .g-wrap .scroll-box {
  border-bottom: 1px solid #d0d0d0;
  background: #fff;
}
.content-title {
  text-align: center;
  padding: 40px 30px 30px;
  border-bottom: 1px solid #f0f0f0;
}
.content-title .title-msg {
  font-size: 36px;
  color: #333;
  line-height: 56px;
  font-weight: lighter;
  margin-bottom: 35px;
}
.title-subtitle .title-time {
  display: inline-block;
}
.title-subtitle .title-time span {
  font-size: 14px;
  color: #999;
  padding: 0 20px;
  border-right: 1px solid #d0d0d0;
}
.title-subtitle .title-share {
  display: inline-block;
  font-size: 14px;
  color: #999;
  padding: 0 20px;
}
.g-content {
  padding: 30px 100px 60px;
  border-bottom: 1px solid #f0f0f0;
}
.g-content .scoroll-content {
  font-size: 16px;
  color: #333;
  line-height: 40px;
  text-indent: 24px;
}
.g-content .scoroll-content-tips {
  height: 40px;
}
.g-content .scorll-pic img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.g-content .scorll-tips {
  font-size: 16px;
  color: #333;
  line-height: 40px;
  text-indent: 24px;
  font-size: 12px;
  text-align: center;
}
.g-search {
  padding: 10px 50px;
  position: relative;
}
.g-search .search-left {
  margin-bottom: 20px;
}
.g-search .search-left a span:nth-child(2) {
  color: #333;
}
.g-search .search-left a span:nth-child(2):hover {
  color: #D90514;
}
.g-search .search-right {
  float: right;
  position: absolute;
  right: 0;
  top: 6px;
}
