@flx: flex;

//颜色规范：
@tc: #fff;
@fc: #D90514;
body {
    background-color: #f6f6f6;
}

/*layout start*/
.l-main {
    display: @flx;
    min-height: 100vh;
    flex-direction: column;    
}
header {
    height: 80px;
    line-height: 80px;
    padding: 0 3%;
    background-color: @tc;
}

main {
    flex: 1;
}
/*layout end*/
/*hearder start*/

.nav-header {
    height: 100%;
    .nav-bar{
        display: flex;
        
        .nav-menu {
            flex: 1;
            margin: 0 100px 0 60px;
        }
    }
}
.g-nav-flx {
    display: @flx;
    text-align:center;

    li {
        width: 102px;

            a {
                color: #000;
            }
            a:hover {
                color: @fc;
            }
    }  
}

.logo {
                
    img {
        vertical-align: middle;
    }
}
.icon {
    display: @flx;

    .search {        
        width: 54px;
        height: 80px;
        text-align: center;
    }

    span {
        color: #ddd;
    }
    
    a {
        width: 54px;
        color: #000;
        text-align: center;
        display: inline-block;
    }

    .language {
        width: 54px;
        text-align: center;
    }
}
/*header end*/
/*footer start*/
footer {
    background: @tc;
    .footertop {
        padding: 48px 0 65px 0;

        .layout {
            padding: 0 3%;
            display: flex;

            dl {
                width: 25%;
                float: left;
                margin-bottom: 20px;
                line-height: 40px;
            }
        }
    }

    .footer-bottom{
        bottom: 0;
        font-size: 12px;
        color: #999;
        height: 60px;
        background-color: #202020;

        .record {
            padding:0 30px;
            line-height: 60px;
            display: flex;

            .copyright {
                flex: 1;
            }
            .link {

                a {
                    color: #999;
                }
            }
        }

        
    }
}
.weblink {
    width: 800px;

}
.service {
    flex: 1;
    
    .line {
        text-align: right;
    
        .tip {
            font-size: 14px;
            color: #555555;
            line-height: 34px;
        }
    
        .call {
            padding-left: 40px;
            background-position: left center;
            background-repeat: no-repeat;
            line-height: 40px;
            font-size: 36px;
            background-size: auto 70%;
            color: @fc;
            font-weight: bold;
        }
    
        .ser {
            display: inline-block;
            margin-top: 19px;
            font-size: 16px;
            background-color: @fc;
            // background-image: url(../images/footer/cact.png);
            background-position: 32px center;
            background-repeat: no-repeat;
            border-radius: 50px;
            padding: 0 34px 0 64px;
            color: #ffffff;
            line-height: 50px;
            background-size: auto 39%;
        }
    }
}
dt {
    font-size: 20px;
    a {
        color: #000;
    } 
}
dd {
    font-size: 13px;
    a {
        color: #000
    }
}

/*footer end*/

/*onClick start*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
/*onClick end*/

/*aicallv9 start*/
.g-menu {
    display: @flx;
    padding: 70px 0 76px;
    background: #FFFFFF;
    background: @tc;

    .g-sidebar {
        flex: 1;
        margin: 0 10px;

        .g-title {
            font-size: 46px;
            color: #333;
            line-height: 90px;
        }
        .g-msg {
            font-size: 18px;
            color: #777;
            height: 30px;
            padding: 5px 18px 18px 0;

        }
    }
}
.sidebar-pic {
    width: 608px;
}
.g-tips {
    padding-top: 20px;

    span {
        float: left;
        display: inline-block;
        width: 15%;
        line-height: 30px;
        font-size: 14px;
        color: #777777;
    }

    .p4 {
        display:inline-block;
        width: 26%;
        font-size: 14px;
        color: @fc;
        line-height: 28px;
        text-align: center;
        border: 1px solid @fc;
        border-radius: 28px;
    }

    .tips-input {
        height: 30px;
        line-height: 30px;
            .min {
                width: 30px;
                height: 30px;
                font-size: 30px;
                color: #999;
                border: none;
                background: none;
            }
            .num {
                width: 60px;
                height: 30px;
                font-size: 14px;
                color: #333;
                text-align: center;
                background-color: #f6f6f6;
                border-radius: 30px;
                margin: 0 10px;
            }
            .max {
                .min;
                color: @fc;
            }
    }
    ul {
        display: flex;

        li {
            width: 30%;
            height: 58px;
            line-height: 58px;
            font-size: 18px;
            color: #333;
            text-align: center;
            border: 1px solid #ccc;
            margin-top: 10px;
            margin-right: 4%;

        }
    }
    .shop-add {
        width: 30%;
        height: 60px;
        font-size: 20px;
        color: #333;
        border: none;
        background: #f6f6f6;
        border-radius: 5px;
        margin-right: 4%;
    }
    .shop-buy {
        .shop-add;
        color: @tc;
        background: @fc;
    }

}
.g-flx {
    display: @flx;

    .g-tab {
        width: 50%;

        .tab-p1 {
            font-size: 14px;
            color: #777;
            line-height: 34px;
        }
        .tab-p2 {
            font-size: 36px;
            color: @fc;
            line-height: 50px;
        }
        .tab-p3 {
            text-decoration: line-through;
            font-size: 18px;
            color: #999;
            line-height: 50px;
        }
    }
}

.g-submenu {
    height: 80px;
    line-height: 80px;
    border-top: 1px solid #EEEEEE;
    padding: 0 10px;
    background: @tc;
    .submenu-content {
        display: inline-block;
        font-size: 16px;
        color: #333;
        margin-right: 3%;
        border-bottom: 2px #FFFFFF solid;
    }
}

.g-list {
    padding: 40px 10px 80px;

}

.list-content {
    padding-bottom: 40px;
    p {
        height: 25px;
        font-size: 14px;
        line-height: 25px;
        color: rgb(136, 136, 136);

        a {
            color: #0000ee;
        }
    }
}
/*aicallv9 end*/

/*new1 start*/
.g-banner {

    img {
        max-width: 100%;
    }
}

.i-wrapper {
    background: #fff;

    .i-layout {
        display: flex;
        padding: 20px 10px;
        margin: 0 auto;

        .i-subnav1 {
            width: 70%;
            margin: 0 auto;
        }

        .i-subnav2 {
            flex: 1;
            text-align: right;
            .subnav2-bg {
                background: url('../images/information/icon1.png');
                background-repeat: no-repeat;
                
            }
            .bg-tips {
                padding-left: 20px;
            }
            a { 
                font-size: 14px;
                color: #999;
                line-height: 60px;
                
                
            }

        }
    }
}
.i-fix1 {

    li {

        display: inline-block;

        a { 
            display: block;
            width: 120px;
            height: 80px;
            line-height: 80px;
            text-align: center;
            font-size: 16px;
            color: #333;
        }
        a:hover {
            width: 120;
            height: 80px;
            color: @tc;
            background: @fc;
        }
    }
}

.main-content {
    padding: 40px 0;
    
    .g-wrap {
        padding: 0 10px;
        
        .scroll-box {
        padding: 30px 100px 60px;
        border-bottom: 1px solid #d0d0d0;
        background: @tc;
        } 

    }
}
.content-title {
    text-align: center;
    padding: 40px 30px 30px;
    border-bottom: 1px solid #f0f0f0;
    .title-msg {
        font-size: 36px;
        color: #333;
        line-height: 56px;
        font-weight: lighter;
        margin-bottom: 35px;
    }
}
.title-subtitle {

    .title-time {
        display: inline-block;
        span {           
            font-size: 14px;
            color: #999;
            padding: 0 20px;
            border-right: 1px solid #d0d0d0;
        }
    }

    .title-share {
        display: inline-block;
        font-size: 14px;
        color: #999;
        padding: 0 20px;
    }
}

.g-content {
    padding: 30px 100px 60px;
    border-bottom: 1px solid #f0f0f0;

    .scoroll-content {
        font-size: 16px;
        color: #333;
        line-height: 40px;
        text-indent: 24px; //首行缩进
    }
    
    .scorll-pic {
    
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }
    
    .scorll-tips {
        .scoroll-content;
        font-size: 12px;
        text-align: center;
        
    }
}

.g-search {
    padding: 10px 50px;

    .search-left {

        a {
            span:nth-child(2) {
                color: #333;
            }
        }
    }

    .search-right {
        float: right;
        a {

            img {

            }
        }
    }

}